<h2>chapters</h2>
<h4><a href="{% url 'learn:weeklyclasses' classroom.id %}">
        {{ classroom.year }}년도 {{ classroom.semester }}학기 :
        {{ classroom.title }} ({{ classroom.professor }} 교수님)
    </a>
</h4>
<h5>
    {{ weeklyclass.num }}주차 : {{ weeklyclass.title }} -
    <a href="{% url 'learn:print' classroom.id weeklyclass.id %}">출력</a>
</h5>
<ul>
    {% for chapter in object_list %}
        <li>
            <a href="{% url 'learn:chapter' classroom.id weeklyclass.id chapter.id %}">
                <b>{{ chapter.num }})</b> {{ chapter.title }}
            </a>
        </li>
    {% endfor %}
</ul>