<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<style>
    img{
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
    
    video{
        border: 2px solid #636363;
        border-radius: .25rem;
    }
    
    canvas{
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
    
    kbd{
        line-height: 2;
    }
    
    .list-group-item{
        padding: 0.25rem 1.25rem;
    }
    
    .container-fluid{
        padding-top: 15px;
    }
    
    .card-body{
        padding: 2px;
        padding-left: 10px;
    }
    
    #vid_interval{
        width: 40px;
        text-align: center;
    }
    
    #lectures_col{
        overflow-y: auto;
    }
    
    #lecture_card_header > div.col > div.card{
        border-radius: 0;
    }
    
    #classroom_title, #weeklyclass_title {
        color: #343a40;
        text-decoration: underline;
    }
    
    #classroom_title:hover, #weeklyclass_title:hover {
        color: #343a40;
        font-weight: bold;
        text-decoration: none;
    }
    
    .lecture-card{
        cursor: pointer;
    }
    
    #lecture_card_footer > .col > .card:hover{
        cursor: pointer;
        background-color: #343a40;
        color: #fff;
    }
</style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- video -->
        <div id="video_col" class="col-5">
            <div class="row mb-3">
                <div class="col">
                    <video class="shadow" width="100%" controls autoplay="false" crossorigin="anonymous">
                        <!--<source src="{{ chapter.videolink }}" type="video/mp4">-->
                        <!-- with extesion Allow CORS: Access-Control-Allow-Origin -->
                        <source src="https://cors-anywhere-rokong.herokuapp.com/{{ chapter.videolink }}" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-auto mr-auto d-inline-flex">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-dark btn-sm">
                            <input type="radio" name="options" class="vid-speed-btn" data-speed="0.5">&#9656;
                        </label>
                        <label class="btn btn-outline-dark btn-sm active">
                            <input type="radio" name="options" class="vid-speed-btn" data-speed="1.0" checked>&#9654;
                        </label>
                        <label class="btn btn-outline-dark btn-sm">
                            <input type="radio" name="options" class="vid-speed-btn" data-speed="2.0">&#9656;&#9656;
                        </label>
                    </div>&emsp;
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <button id="vid_prvs_btn" type="button" class="btn btn-secondary btn-sm">&ensp;&#x21B6;&ensp;</button>
                        </div>
                        <input id="vid_interval" type="text" class="form-control" maxlength="2" value="3">
                        <div class="input-group-append">
                            <button id="vid_next_btn" type="button" class="btn btn-secondary btn-sm">&ensp;&#x21B7;&ensp;</button>
                        </div>
                    </div>
                </div>
                <div class="col-auto text-right">
                    <!-- progress bar / 3초 전 / 재생 일시정지 /3초 후 / 배속 buttons -->
                    <button type="button" class="btn btn-sm btn-outline-info lec_append">새로 캡처</button>
                    <button id="vid_capture" type="button" class="btn btn-sm btn-info">캡처</button>
                </div>
            </div>
            <div class="row">
                <div class="col-auto mr-auto mb-3">
                    <h4>{{ weeklyclass.num }}.{{ chapter.num }}.&nbsp;{{ chapter.title }}</h4>
                    <a id="classroom_title" href="{% url 'learn:weeklyclasses' classroom.id %}">{{ classroom.title }}</a>&nbsp;
                    <small class="text-muted">{{ classroom.year }}년 {{ classroom.semester }}학기</small><br>
                </div>
                <div class="col-auto">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-dark">
                            <small class="text-muted">{{ weeklyclass.num }}주차</small>&nbsp;
                            <a id="weeklyclass_title" href="{% url 'learn:chapters' classroom.id weeklyclass.id %}">
                              {{ weeklyclass.title }}
                            </a>
                        </li>
                        {% for i_chapter in chapters %}
                            {% if i_chapter.id == chapter.id %}
                                <li class="list-group-item">
                                    <b>{{ i_chapter.num }}.&nbsp;{{ i_chapter.title }}</b>
                                </li>
                            {% else %}
                                <li class="list-group-item list-group-item-action">
                                    <a class="text-muted" href="{% url 'learn:chapter' classroom.id weeklyclass.id i_chapter.id %}">
                                        {{ i_chapter.num }}.&nbsp;{{ i_chapter.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- lecture -->
        <div id="lecture_col" class="col-5">
            <div class="row mb-2">
                <div class="col">
                    <canvas></canvas>
                    <!-- <img src="{% static 'img/lecture_sample.png' %}"> -->
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-4">
                    <div class="input-group">
                      <input id="lec_num" type="number" class="form-control">
                      <div class="input-group-append">
                        <button id="btn_lec_num" type="button" class="btn btn-outline-secondary" tabindex="-1">&#9655;</button>
                      </div>
                    </div>
                </div>
                <div class="col-8">
                  <input id="lec_title" type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col">
                    <textarea id="lec_note" class="form-control" rows="6"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-auto mb-2 pr-0">
                    <small class="text-muted">
                        <kbd>Ctrl + Q</kbd>캡처&ensp;
                        <kbd>Ctrl + &#x21A9;</kbd>추가(수정)
                    </small>
                </div>
                <div class="col-auto mr-auto mb-2">
                    <small class="text-muted">
                        <kbd>Shift + Ctrl</kbd>이전&ensp;
                        <kbd>Shift + Alt</kbd>이후&ensp;
                        <kbd>Shift + &#9251;</kbd>재생&ensp;
                    </small>
                </div>
                <div class="col-auto text-right">
                    <button id="lec_reset" type="button" class="btn btn-sm btn-secondary">지우기</button>
                    <button id="lec_create" type="button" class="btn btn-sm btn-success">추가</button>
                    <!-- 수정할 때 -->
                    <button id="lec_delete" type="button" class="btn btn-sm btn-danger d-none">삭제</button>
                    <button id="lec_update" type="button" class="btn btn-sm btn-outline-success d-none">수정</button>
                </div>
            </div>
        </div>
        
        <!-- lectures -->
        <div id="lectures_col" class="col-2">
            <!-- lectures header -->
            <div id="lecture_card_header" class="row mb-2 sticky-top">
                <div class="col">
                    <div class="card">
                        <div class="card-body text-right">
                            <button id="lecs_refresh" type="button" class="btn btn-sm btn-light">목록 새로고침</button>
                        </div>
                    </div>
                </div>
            </div>
            
            {% for i_lecture in lectures %}
            <div class="row mb-2 lecture-card" data-pk="{{ i_lecture.pk }}">
                <div class="col">
                    <div class="card"><!-- text-white bg-secondary lecture-active -->
                        <img class="card-img-top" src="{{ i_lecture.image.url }}" alt="lecture_image">
                        <div class="card-body"><b>{{ i_lecture.num }}</b> {{ i_lecture.title }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
            <div id="lecture_card_nothing" class="row mb-2 d-none">
                <div class="col">
                    <div class="card lecture-card-empty">
                        <div class="card-body text-center">
                            작성된 항목이 없습니다.
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- append button -->
            <div id="lecture_card_footer" class="row mb-2">
                <div class="col">
                    <div class="card">
                        <div class="card-body text-center lec_append"><b>+</b></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<script>
function dataURItoBlob(dataURI) {
    var byteString;
    if (dataURI.split(',')[0].indexOf('base64') >= 0)
        byteString = atob(dataURI.split(',')[1]);
    else
        byteString = unescape(dataURI.split(',')[1]);

    var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

    var ia = new Uint8Array(byteString.length);
    for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
    }

    return new Blob([ia], {type:mimeString});
}
    
function resizeLectsCol(){
    //TODO : 위에 row들 자동으로 계산해서 픽셀 값 빼기
    $("#lectures_col").css("max-height", window.innerHeight-15);
}

function clearLecture(){
    var cvs = document.getElementsByTagName('canvas')[0],
        ctx = cvs.getContext('2d');

    ctx.clearRect(0, 0, cvs.width, cvs.height);
    
    $("#lec_delete").addClass("d-none");
    $("#lec_update").addClass("d-none");
    
    $("#lec_num").val("");
    $("#lec_note").val("");
    $("#lec_title").focus();
}
    
function vidToCvs(){
    var video = document.getElementsByTagName('video')[0],
        cvs = document.getElementsByTagName('canvas')[0],
        ctx = cvs.getContext('2d');
    
    ctx.drawImage(video, 0, 0, cvs.width, cvs.height);
}

function imgToCvs(image){
    var cvs = document.getElementsByTagName('canvas')[0],
        ctx = cvs.getContext('2d');
    
    ctx.drawImage(image, 0, 0, cvs.width, cvs.height);
}
    
//video currenTime -> dbTime
function fromVidTime(){
    var video = document.getElementsByTagName('video')[0],
        totalNum = Math.trunc(video.currentTime);
    
    return Math.trunc(totalNum/60)*100 + totalNum%60;
}

//dbTime -> video currentTime
function toVidTime(dbTime){
    return Math.trunc(dbTime/100)*60 + dbTime%100;
}

function videoCapture(){
    vidToCvs();
    $("#lec_num").val(fromVidTime());
    $("#lec_title").focus();
}

function insertIntoLecs(res, dataURL){
    var lecsLength = $(".lecture-card").length;
    
    if($(".lecture-card").length+1 != res.lectureLength){
        $("#lecs_refresh").trigger("click");
    }else{
        var num = $("#lec_num").val();
        var htmlSrc = "<div class='row mb-2 lecture-card' data-pk='"+res.lecturePk+"'>"
                    + "<div class='col'>" + "<div class='card'>"
                    + "<img class='card-img-top' src='"+dataURL+"' alt=''>"
                    + "<div class='card-body'><b>"+String($("#lec_num").val())+"</b> "+String($("#lec_title").val())+"</div>"
                    + "</div>" + "</div>" + "</div>";
        
        if(res.lectureIndex != 0){
            $(".lecture-card").eq(res.lectureIndex-1).after(htmlSrc);
        }else{
            $("#lecture_card_header").after(htmlSrc);
            $("#lecture_card_nothing").addClass("d-none");
        }
	    setTimeout(function(){
	       document.getElementsByClassName("lecture-card")[res.lectureIndex].scrollIntoView({behavior: "smooth", block: "end"});
	    }, 500);
	    //var colsElement = document.getElementById("lectures_col");
	    //colsElement.scrollTop = colsElement.scrollHeight+142;
	    //document.getElementsByClassName("lecture-card")[res.lectureIndex+1].scrollIntoView({block: "end"});
    }
}
    
function deleteFromLecs(res){
    var lecsLength = $(".lecture-card").length;
    
    if($(".lecture-card").length-1 != res.lectureLength){
        $("#lecs_refresh").trigger("click");
    }else{
        $(".lecture-card").eq(res.lectureIndex).remove();
        if(res.lectureLength == 0){
            $("#lecture_card_nothing").removeClass("d-none");
        }
    }
}

function updateIntoLecs(res){
    console.log(res);
    var lecsLength = $(".lecture-card").length;
    
    if($(".lecture-card").length != res.lectureLength){
        $("#lecs_refresh").trigger("click");
    }else{
        var $cardBody = $(".lecture-card").eq(res.lectureIndex).find(".col").find(".card").find(".card-body"),
            prvsHtml = $cardBody.html(),
            curHtml = prvsHtml.substring(0, prvsHtml.indexOf("</b> ")+5) + res.lectureTitle;
        
        $cardBody.html(curHtml);
    }
}

function displayFromLecs(res){
    var lecJson = JSON.parse(res),
        lec = lecJson[0],
        img = new Image();
    
    img.src = '{% get_media_prefix %}' + lec.fields.image;
    imgToCvs(img);
    
    $("#lec_num").val(lec.fields.num);
    $("#lec_title").val(lec.fields.title);
    $("#lec_note").val(lec.fields.note);
    
    $("#lec_delete").removeClass("d-none").attr("data-pk", lec.pk);
    $("#lec_update").removeClass("d-none").attr({"data-pk": lec.pk, "data-num": lec.fields.num});
    
}

function refreshLecs(res){
    var lecsJson = JSON.parse(res);
    
    $(".lecture-card").remove();
    
    if(lecsJson.length == 0){
        $("#lecture_card_nothing").removeClass("d-none");
    }else{
        $("#lecture_card_nothing").addClass("d-none");
        var htmlSrc = '';
        $.each(lecsJson, function(i, e){
            htmlSrc = "<div class='row mb-2 lecture-card' data-pk='"+e.pk+"'>"
                    + "<div class='col'>" + "<div class='card'>"
                    + "<img class='card-img-top' src='{% get_media_prefix %}"+e.fields.image+"' alt=''>"
                    + "<div class='card-body'><b>"+e.fields.num+"</b> "+e.fields.title+"</div>"
                    + "</div>" + "</div>" + "</div>";
            
            $("#lecture_card_footer").before(htmlSrc);
        });
        
    }
    
}
    
$(document).on("click", ".vid-speed-btn", function(e){
    var speed = $(e.currentTarget).attr("data-speed"),
        video = document.getElementsByTagName('video')[0];
    
    video.playbackRate = speed;
    
}).on("click", "#vid_prvs_btn", function(e){
    var interval = parseInt($("#vid_interval").val()),
        video = document.getElementsByTagName('video')[0];
    video.currentTime = video.currentTime - interval;
    
}).on("click", "#vid_next_btn", function(e){
    var interval = parseInt($("#vid_interval").val()),
        video = document.getElementsByTagName('video')[0];
    video.currentTime = video.currentTime + interval;
    
}).on("click", "#vid_capture", function(e){
    videoCapture();
    
}).on("click", "#btn_lec_num", function(e){
    var targetNum = $("#lec_num").val(),
        video = document.getElementsByTagName('video')[0];
    
    if(targetNum == null || targetNum == "")
        return;
    
    video.currentTime = toVidTime(targetNum);
    
}).on("click", "#lec_create", function(e){
    var $curObj = $(e.currentTarget);
    $curObj.attr("disabled", true);
    $curObj.text("추가중");
    
    var lecNum = $("#lec_num").val();
    if(lecNum == null || lecNum == "")
        lecNum = 0;
    
    //canvas to blob imgFile
    var cvs = document.getElementsByTagName('canvas')[0],
        dataURL = cvs.toDataURL('image/jpeg', 1),
        blob = dataURItoBlob(dataURL),
        imgName = '{{ classroom.pk }}_{{ weeklyclass.pk }}_{{ chapter.pk }}_'+$("#lec_num").val()+'.jpg',
        imgFile = new File([blob], imgName, {type: 'image/jpeg'});
    
    //create FormData()
    var formData = new FormData();
    formData.append("csrfmiddlewaretoken", '{{ csrf_token }}');
    formData.append("chapter", {{ chapter.pk }});
    formData.append("num", lecNum);
    formData.append("image", imgFile);
    formData.append("title", String($("#lec_title").val()));
    formData.append("note", String($("#lec_note").val()));
    
    $.ajax({
        type     : "POST",
        url      : "{% url 'learn:leccreate' %}",
        data     : formData,
        dataType : "json",
        contentType: false,
        processData: false,
        cache: false,
        success  : function(response){
            insertIntoLecs(response, dataURL);
            clearLecture();
        },
        error    : function(request, status, error){
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        },
    }).always(function(){
        $curObj.attr("disabled", false);
        $curObj.text("추가");
    });
    
    
}).on("click", "#lec_delete", function(e){
    var $curObj = $(e.currentTarget);
    $curObj.attr("disabled", true);
    $curObj.text("삭제중");
    
    var curPk = $curObj.attr("data-pk"),
        targetUrl = "{% url 'learn:lecdelete' 991021 %}".replace('991021', String(curPk)),
        formData = new FormData();
    formData.append("csrfmiddlewaretoken", '{{ csrf_token }}');
    formData.append("pk", String($curObj.attr("data-pk")));
    
    $.ajax({
        type     : "POST",
        url      : targetUrl,
        data     : formData,
        dataType : "json",
        contentType: false,
        processData: false,
        cache: false,
        success  : function(response){
            deleteFromLecs(response);
            clearLecture();
        },
        error    : function(request, status, error){
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        },
    }).always(function(){
        $curObj.attr("disabled", false);
        $curObj.text("삭제");
    });
    
    
}).on("click", "#lec_update", function(e){
    var $curObj = $(e.currentTarget);
    $curObj.attr("disabled", true);
    $curObj.text("수정중");
    
    var curPk = $curObj.attr("data-pk"),
        curNum = $("#lec_num").val(),
        prvsNum = $curObj.attr("data-num");
    
    if(curNum == prvsNum){
        //update
        var targetUrl = "{% url 'learn:lecupdate' 991021 %}".replace('991021', String(curPk)),
            formData = new FormData();
        formData.append("csrfmiddlewaretoken", '{{ csrf_token }}');
        formData.append("pk", String($curObj.attr("data-pk")));
        formData.append("title", String($("#lec_title").val()));
        formData.append("note", String($("#lec_note").val()));

        $.ajax({
            type     : "POST",
            url      : targetUrl,
            data     : formData,
            dataType : "json",
            contentType: false,
            processData: false,
            cache: false,
            success  : function(response){
                updateIntoLecs(response);
            },
            error    : function(request, status, error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            },
        }).always(function(){
            $curObj.attr("disabled", false);
            $curObj.text("수정");
        });
    }else{
        //delete -> create
        var targetUrl = "{% url 'learn:lecdelete' 991021 %}".replace('991021', String(curPk)),
            formData = new FormData();
        formData.append("csrfmiddlewaretoken", '{{ csrf_token }}');
        formData.append("pk", String($curObj.attr("data-pk")));
        $.ajax({
            type     : "POST",
            url      : targetUrl,
            data     : formData,
            dataType : "json",
            contentType: false,
            processData: false,
            cache: false,
            success  : function(response){
                deleteFromLecs(response);
                $("#lec_create").trigger("click");
            },
            error    : function(request, status, error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            },
        }).always(function(){
            $curObj.attr("disabled", false);
            $curObj.text("수정");
        });
    }
    
    
}).on("click", "#lec_reset", function(e){
    clearLecture();
    
}).on("click", ".lec_append", function(e){
    $(".card.bg-secondary").removeClass("bg-secondary");
    clearLecture();
    videoCapture();
    
}).on("click", ".lecture-card", function(e){
    
    
    var $curObj = $(e.currentTarget),
        curPk = $curObj.attr("data-pk"),
        targetUrl = "{% url 'learn:lecdetail' 991021 %}".replace('991021', String(curPk));
    
    $curObj.removeClass("lecture-card");
    
    $.ajax({
        type     : "GET",
        url      : targetUrl,
        dataType : "json",
        cache: false,
        success  : function(response){
            displayFromLecs(response);
            $(".card.bg-secondary").removeClass("bg-secondary");
            $curObj.find(".card").eq(0).addClass("bg-secondary");
        },
        error    : function(request, status, error){
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        },
    }).always(function(){
        $curObj.addClass("lecture-card");
    });

    
}).on("click", "#lecs_refresh", function(e){
    $curObj = $(e.currentTarget);
    $curObj.attr("disabled", true);
    $curObj.text("새로고침중");
    
    $.ajax({
        type     : "GET",
        url      : "{% url 'learn:leclist' chapter.pk %}",
        dataType : "json",
        cache: false,
        success  : function(response){
            refreshLecs(response);
        },
        error    : function(request, status, error){
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        },
    }).always(function(){
        $curObj.attr("disabled", false);
        $curObj.text("목록 새로고침");
    });
    
    
}).on("mouseenter", ".lecture-card", function(e){
    var $curObj = $(e.currentTarget);
    $curObj.find(".col").eq(0).find(".card").eq(0).addClass("text-white");
    $curObj.eq(0).find(".card").eq(0).addClass("bg-dark");
    
}).on("mouseleave", ".lecture-card", function(e){
    var $curObj = $(e.currentTarget);
    if($curObj.hasClass("lecture-active")){
        $curObj.find(".card").eq(0).removeClass("bg-dark");
        $curObj.find(".card").eq(0).addClass("bg-secondary");
    }else{
        $curObj.find(".card").eq(0).removeClass("text-white");
        $curObj.find(".card").eq(0).removeClass("bg-dark");
    }
    
}).on("keydown", "#lec_num, #lec_title, #lec_note", function(e){
    if((e.metaKey||e.shiftKey) && (e.metaKey||e.ctrlKey)){
        //console.log( "You pressed SHIFT + CTRL" );
        e.preventDefault();
        $("#vid_prvs_btn").trigger("click");
        
    }else if((e.metaKey||e.shiftKey) && (e.metaKey||e.altKey)){
        //console.log( "You pressed SHIFT + CTRL" );
        e.preventDefault();
        $("#vid_next_btn").trigger("click");
        
    }else if((e.metaKey||e.shiftKey) && (e.which==32)){
        //console.log( "You pressed SHIFT + SPACE" );
        e.preventDefault();
        var video = document.getElementsByTagName('video')[0];
        if(video.paused) video.play(); else video.pause();
        
    }else if((e.metaKey||e.ctrlKey) && (e.which==81||e.which==113)){
        //console.log( "You pressed CTRL + Q" );
        e.preventDefault();
        $("#vid_capture").trigger("click");
        
    }else if((e.metaKey||e.ctrlKey) && (e.which==13)){
        //console.log( "You pressed CTRL + ENTER" );
        e.preventDefault();
        if(! $("#lec_update").hasClass("d-none")){
            $("#lec_update").trigger("click");
        }else{
            $("#lec_create").trigger("click");
        }
    }
    
});

$(document).ready(function(){
    resizeLectsCol();
    
    if($(".lecture-card").length == 0){
        $("#lecture_card_nothing").removeClass("d-none");
    }
    
});

$("video").on('loadeddata', function(){
    //set Canvas size as Video
    var video = document.getElementsByTagName('video')[0],
        cvs = document.getElementsByTagName('canvas')[0];
    
    cvs.width = video.videoWidth;
    cvs.height = video.videoHeight;
});

$(window).resize(function() {
    resizeLectsCol();
});
</script>
    
</body>
</html>
